/* <style>
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
</style> */


@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&family=Plus+Jakarta+Sans:wght@500&family=Press+Start+2P&family=Rubik+80s+Fade&display=swap');

:root {

    /* Media widths */
    --mobile: 375px; 
    --desktop: 1440px; 


    /* COLORS */
    --Moderate-cyan: hsl(176, 50%, 47%); 
    --Dark-cyan: hsl(176, 72%, 28%); 
    --black:  hsl(0, 0%, 0%); 
    --dark-gray: hsl(0, 0%, 48%); 
    --whitish: rgba(247, 247, 247, 0.986); 


    /* FONT SIZES  */
    --font-size-small: 12px; 
    --font-size-normal: 16px;
    --font-size-large: 24px; 
    

    /* FONT WEIGHT */
    --weight-light: 400; 
    --weight-medium: 500; 
    --weight-heavy: 700; 


    /* Radius */
    --button-radius: 2em; 
    --container-radius: 2px; 
}

::backdrop { 
  --backdrop: rgba(0, 0, 0, 1) !important;
}


/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  font-family: "commissioner";  
  
  
}

body {
  display: flex;
  flex-direction: column;

  

}

main {
  margin: 0 auto;
 z-index: 2;

}

section{ 
  margin: auto;
padding: 0 0 25px; 
max-width: 20em;
}



button { 
  cursor: pointer;
}


h1, h2, p { 
  display: block;
    text-align: center;
    padding: .25em; 
}


/* ADDITONAL CLASSES */
.visible { 
  display: none !important;
}

.borderActive { 
  border: 2px var(--Moderate-cyan) solid !important;
}

/* HEADER START  */
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.title {
  color: white;
  padding-left: 30px;
}

.hamburger { 
   padding-top: 20px; 
    padding-right: 20px;
}

#hero {
  position: absolute;
  width: 100%;
  height: 16em;
  z-index: -1;
  background-repeat: none;
}

ul {
  display: none;
}

/* Header END */




/* Start of Main containers */
.mastercraft-container {
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
background-color: white;
   border-radius: 2%;
   /* border: var(--dark-gray) .25px transparent; */
   /* outline: var(--dark-gray) .001em solid; */
  
 
}

.logo { 
    position: relative;
    top: -25px; 
}


.para { 
    color: var(--dark-gray);
    font-weight: var(--weight-light);
}

.backtoproj { 
    padding: 1em;
    width: 150px; 
    /* Figure out border radius */
    border: none;
    border-radius: 2em;
    background-color: var(--Moderate-cyan);
    color: white; 
    margin-bottom: 5em;
}
.bookmark { 
  position: relative;
  top: 25px; 
  margin: .25em;
}

/* END OF FIRST CONTAINER */

/* Inside Amounts Overview */

.amounts-overview { 
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-color: white;
  padding: 25px;
  border-radius: var(--container-radius);
  gap: 1em; 


}


.amount-backed { 
    font-size: var(--font-size-large);
    
}

.amount-form { 
    color: var(--dark-gray); 
    font-size: var(--font-size-small); 
    font-weight: var(--weight-light);
    padding-bottom: 1em;

}


.line { 
  width: 75px;
  height: 1px;
  background-color: var(--dark-gray);
  margin-bottom: 1em;
}

.progess-container { 
width: 300px; 
height: 10px;
background-color: var(--whitish);

border-radius: 50px;
}

.progession { 
  width: 89.914%;
  height: 10px;
  background-color: var(--Moderate-cyan);
  border-radius: var(--button-radius); 
}



/* END OF AMOUNTS OVERIVEW  */

/* START OF ABOUT INFO  */

.about-info { 
  display: flex; 
  flex-direction: column;
  background-color: white; 
  margin: 0px 25px 25px;
  padding: 25px;

}

.info-para{ 
  text-align: left;
  padding-top: 1em;
  font-weight: 400;
  font-size: var(--font-size-normal);
  align-self: flex-start;
  color: var(--dark-gray);

}

/* END OF ABOUT INFO */

.item-containers { 
  display: flex; 
  flex-direction: column;
  align-items: start;
  align-content: start; 
  border: .5px var(--dark-gray) solid;
  border-radius: 2%;
  margin: 1em; 
  padding: 2em;

  
}



.item-pledge { 
  color: var(--Moderate-cyan);
  font-size: var(--font-size-medium);
  padding-bottom: 1.5em;
}

.item-para { 
  color: var(--dark-gray);
  text-align: left;
}

.item-left { 
  
  margin: 2em;
  font-size: var(--font-size-small);
  color: var(--dark-gray);
}

.number { 
 
  position: relative;
  top: 5px; 
  padding: 2px;
  font-size: var(--font-size-large);
  color: var(--black);
  
}

.reward-btn { 

  padding: 1em;
  width: 150px; 
  /* Figure out border radius */
  border: none;
  background-color: var(--Moderate-cyan);
  color: white; 
  border-radius: var(--button-radius);
}

/* End of about-info */

dialog { 
height: fit-content;
  border: none;
  max-height: calc(100vh - 200px);  
  padding-bottom: 8em;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.back-dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
}


#model-container { 
  top: 20%;
  background: white; 
  margin: 0px 25px 25px;
  padding: 25px;
  border-radius: var(--container-radius); 
  

}


.title-close-container { 
  display: flex;
  justify-content: space-between;
}

.close-btn { 
  position: relative;
  top:2px; 
}

.plege-select { 
  display: grid; 
 grid-template-columns: [first] 20% [second] 100%;
 grid-template-rows: [row-start] 30% [row-end] auto;
  
}



.selected-radio { 
  position: relative;
  top: 10px; 
  width: 20px;
  height: 20px;
   grid-column-start: first;
   grid-column-end: first;

  
}

.grid-title { 
  font-size: var(--font-size-small);
  padding-left: 2px;
   grid-column-start: second;
}

.grid-pledge { 
  font-size: var(--font-size-small);
  font-weight: var(--weight-light);
  grid-column-start: second;
  text-align: start;
  
} 

/* Pldge INPUT section */

.pledge { 

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.plege-1, .plege-2, .plege-3 { 
 
}

input[name="name"] { 
  position:relative; 
  left: -30px;
  width: 125%;
  background: white; 
  border: var(--dark-gray) .25px solid; 
}

label[for="name"] { 
  text-align: center;
  color: var(--dark-gray);
  font-size: var(--font-size-medium);
  padding: 5px;
}

.cost-container { 
  display: flex;
  justify-content: space-between; 
  text-align: center;
  padding-top: 2em;
}

input[name="costpledge"] { 
  text-align: center;
  border: var(--dark-gray) 1px solid;
  border-radius: var(--button-radius);
  max-width: 125px;
  height: 50px;


}

input[name=costpledge]::placeholder { 
  color: black; 
  font-weight: var(--weight-heavy);
}


